*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
}
#page{
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
svg{
    height:50%;
    width:50%;
}